@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --background: white;
  --foreground: black;
  font-size: 16px;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}
.Toastify__toast-icon {
  display: none !important;
}
.react-stars {
  display: flex !important;
  gap: 10px;
  padding: 6px;
}
.react-stars span {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition:
    background-color 300ms ease-in,
    transform 200ms ease-in;
}

.react-stars span:hover {
  background-color: #fde9d430;
}

.fullwidth-container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  margin-inline: calc(-50vw + 50%);
}

.gradient-container {
  justify-content: space-between;
}
.right-oval,
.left-oval {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 30%;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}

.left-oval {
  top: -140px;
  left: -160px;
}

.right-oval {
  top: -120px;
  right: -60px;
}

.left-shape,
.right-shape {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: all 0.4s ease;
}

.left-shape {
  animation: morph-left 10s infinite ease-in-out alternate;
  clip-path: polygon(
    55% 0%,
    85% 10%,
    100% 50%,
    75% 90%,
    40% 100%,
    15% 80%,
    5% 50%,
    20% 20%
  );
}

.right-shape {
  animation: morph-right 7s infinite ease-in-out alternate;
  clip-path: polygon(
    55% 0%,
    85% 10%,
    100% 50%,
    75% 90%,
    40% 100%,
    15% 80%,
    5% 50%,
    20% 20%
  );
}

/* Keyframes for left shape animation */
@keyframes morph-left {
  0% {
    transform: scale(1) translateX(100px);
    opacity: 1;
  }
  50% {
    transform: scale(0.7) translateX(-100px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translateX(100px);
    opacity: 1;
  }
}

/* Keyframes for right shape animation */
@keyframes morph-right {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.7) rotate(90deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(180deg);
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1); /* Fallback solid color */
}

/* Apply backdrop filter if supported */
@supports (backdrop-filter: blur(50px)) or (-webkit-backdrop-filter: blur(50px)) {
  .overlay {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    -webkit-backdrop-filter: blur(50px); /* For Safari */
    backdrop-filter: blur(50px); /* Standard */
  }
}

.fadein-title {
  animation: faded-in 1s;
}
.fadein-desc {
  animation: faded-in 1.2s;
}
.appear-anim {
  animation: appear-in 1.2s;
}

/* animations  */
@keyframes faded-in {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes appear-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.star-top {
  width: 30px; /* Set width explicitly for the star */
  animation: star-travel 2s;
  transform: scale(0.8);
}
.star-bottom {
  width: 30px; /* Set width explicitly for the star */
  animation: star-travel-bottom 3s;
  transform: translateX(40px) scale(0.8);
}

@keyframes star-travel {
  0% {
    transform: translateX(20px) translateY(30px) scale(0.6);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px) scale(0.8);
    opacity: 1;
  }
}
@keyframes star-travel-bottom {
  0% {
    transform: translateY(-20px) translateX(10px) scale(0.6);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0px) translateX(40px) scale(0.8);
    opacity: 1;
  }
}

.fixed-page-height {
  width: 197.26px !important;
  height: 264.79px !important;
}

@media (min-width: 768px) {
  /* Applies to tablets and above */
  .fixed-page-height {
    width: 223.77px !important;
    height: 300px !important;
  }
}

.compress-btn {
  border: none;
  position: relative; /* Set position to relative */
  animation: shadowAnimation 2s infinite; /* Apply animation */
}

@keyframes shadowAnimation {
  0% {
    box-shadow:
      0px 0 0 #dfa91d33,
      /* Shadow color */ 0px 0 0 #df861d29; /* Shadow color */
  }
  50% {
    box-shadow:
      -10px 0 0 #dfa91d33,
      /* Shadow color */ -20px 0 0 #df861d29; /* Shadow color */
  }
  100% {
    box-shadow:
      0px 0 0 #dfa91d33,
      /* Shadow color */ 0px 0 0 #df861d29; /* Shadow color */
  }
}

.start-comp-anim {
  animation: scale-infinite 3s ease-in-out infinite;
  transform: scale(1);
  margin-left: -4px;
}

@keyframes scale-infinite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrow-speed-forward {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.arro-ico-anim {
  transform: translateX(-3px);
  animation: arrow-speed-forward 3s ease-in-out infinite;
  animation-delay: 1.5s; /* Start the arrow animation halfway through the scale */
}
