@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  font-size: 16px;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
body {
  overflow-x: hidden;
}

.complex-container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  margin-inline: calc(-50vw + 50%);
  /* z-index: -999; */

  /* display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid pink; */
}

.gradient-container {
  display: flex;
  justify-content: space-between;
}

.left-oval {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 30%;
  border-radius: 30px;
}
.right-oval {
  position: relative;
  display: inline-block;
  height: 700px;
  width: 800px;
  margin-top: -200px;
  margin-right: -200px;
  border-radius: 30px;
}

.left-shape {
  clip-path: polygon(
    44.2% 0%,
    73.2% 4.8%,
    100% 27.3%,
    89.6% 77.3%,
    61.2% 100%,
    7% 72.5%,
    7.9% 52.8%,
    0% 35.8%,
    16.8% 7%
  );
  border-radius: inherit; /* Inherits border-radius from parent to match */
  background-color: #ffe8ccec;
  height: 100%;
  width: 100%;
}
.right-shape {
  clip-path: polygon(
    44.2% 0%,
    73.2% 4.8%,
    100% 27.3%,
    89.6% 77.3%,
    61.2% 100%,
    7% 72.5%,
    7.9% 52.8%,
    0% 35.8%,
    16.8% 7%
  );
  border-radius: inherit; /* Inherits border-radius from parent to match */
  background-color: #ffe8ccec;
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
